*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
    background-image: url("../img/astronauta.jpg");
    background-size: contain
}
main, header{
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
    padding: 10px;
}
header h1{
    font-family: 'Lucida Sans';
    font-size: 20pt;
    font-weight: lighter;
    padding: 10px;
}
.div_user{
    display: flex;
    box-shadow: 0px 0px 10px silver;
    margin: 5px auto 20px auto;
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    padding:10px;
    transition: ease 0.5s;
    justify-content: space-between;
    align-items: center;
}
.div_user img{
    width: 50px;
    height: 50px;
}
.div_user h2, .div_user h3{
    font-family: 'Lucida sans';
    font-weight: lighter;
}
.div_user:hover{
    transform: scale(1.1);
    background-image: url("../img/astronauta.jpg");
    background-position: 0 -500px;
    color: #fff;
}

.div_user a img{
    width: 20px;
    height: 20px;
    background-color: #fff;
}


#div_shadow{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top:0;
    z-index: 1000;
    opacity: 1;
    transition: ease 1s;
}

#div_shadow div{
    background-color: rgb(255,255,255);
    width: 40%;
    padding:20px;
    margin:10% auto 10% auto;
    height: 500px;    
}
#fechar{
    position: absolute;
    right:25%;
    top: 15%;
    /* background-color: black; */
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 30pt;
    text-align: center;
    font-weight: lighter;
    font-family: 'Lucida Sans';
    text-decoration: none;
    transition: ease 1s;
}
#fechar:hover{
    transform: rotate(360deg);
}
input{
    display: block;
    margin-bottom: 10px;
    border:0;
    outline: none;
}
input[type=text], input[type=email], input[type=password]{
    border-bottom: 1px solid #eee;
    width: 98%;
    padding:15px;
    font-size: 20pt;
    font-weight: lighter;
    font-family: 'Lucida Sans';

}
input[type=file]{
    padding: 10px;
    font-weight: lighter;
    font-family: 'Lucida Sans';
    font-size: 12pt;
}
input[type=submit]{
    margin:10px auto;
    padding:10px;
    width: 40%;
    text-align: center;
    font-family: 'Lucida Sans';
    font-size: 12pt;
    cursor: pointer;
    transition: ease 0.5s;
}
input[type=submit]:hover{
    background-color: red;
    color: white;
}